.contacts {
    background: rgb(52, 58, 64);
    padding: 3rem 0;
}

.contacts h1{
    text-transform: uppercase;
    color: rgb(0, 191, 255);
    padding: 1.3rem 0;;
}

.contacts p {
    color: #D3D3D3;
    font-size: 1.2rem
}

.contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid lightgray;
    border-radius: 0;
    color: #808080;
    outline: 0 !important;
    box-shadow: none !important;
    top: 0;
    margin-bottom: 1rem;
    padding-left: 0 !important;
}
/* 
.contacts input:focus, .contacts textarea:focus {

} */

input.form-control, textarea.form-control {
    margin: -0.3rem 0;
}
.contacts container {
    padding: 4rem 0;
}

.contacts textarea {
    height: 12.28rem !important;
}

.contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: rgb(0, 191, 255);
    color: #ffffff;
}

.contact-btn:hover{
    background: #ffffff !important;
    color: #000000;
}

.line {
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.15rem;
    background: rgb(0, 191, 255);
    display: inline-block;
    top: -0.8rem;
}

input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out

}

.error-message{
    color: #ffffff;
    background: #ef4035;
    text-align: left;
}

.success-message {
    font-weight: 900;
    color: green;
}
