@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img{
    font-family: "RobotoCondensed" sans-serif;
    width: 16rem;
    border-radius: 50%;
    padding: 0.3rem;
    border: 1px solid rgb(0, 191, 255);
}

.about-heading{
    font-family: "RobotoCondensed" sans-serif;
    color: rgb(0, 191, 255);
    text-transform: uppercase;
}

@media (max-width: 468px) {
    .profile-img {
        width: 10rem;
    }
}